{% extends 'base.html' %}

{% block content %}


{% for message in get_flashed_messages() %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong>Holy guacamole!</strong> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

{% if name %}
    <h1>Update User</h1>
    <br/><br/>
    
{% else %}
    <h1>Update User:</h1>
    <br/>
    <form action="/update/{{ user_to_update.id }}" method="POST">
        {{ form.hidden_tag() }}

        {{ form.name.label(class="form-label") }}

        {{ form.name(class="form-control", value=user_to_update.name) }}

        {{ form.email.label(class="form-label") }}

        {{ form.email(class="form-control", value=user_to_update.email) }}

        {% for field, errors in form.errors.items() %}
        <small class="form-text text-muted ">
            {{ ', '.join(errors) }}
        </small>
        {% endfor %}

        <br/><br/>
        {{ form.submit(class="btn btn-primary") }}

    </form>
<br/><br/>
{% for our_user in our_users %}
    {{our_user.id}} . {{our_user.name }} - {{our_user.email}}<br/>
{% endfor %}

{% endif %}

{% endblock %}